.aurora-container {
  position: fixed;
  bottom: 0;
  width: 100%; }
  .aurora-container .aurora {
    opacity: .5;
    position: absolute;
    bottom: -2000px;
    left: -150px;
    background: #60EBD2;
    width: 2000px;
    height: 2000px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 30000ms infinite linear; }
  .aurora-container .aurora.-three {
    animation: drift 25000ms infinite linear;
    background: #08455C; }
  .aurora-container .aurora.-four {
    animation: drift 75000ms infinite linear;
    background: #0A5349; }
  .aurora-container .aurora.-two {
    animation: drift 50000ms infinite linear;
    opacity: .2;
    background: #ff0080; }
  .aurora-container .box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ee88aa, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5));
    z-index: 11;
    transform: translate3d(0, 0, 0); }

@keyframes drift {
  from {
    transform: rotate(0deg); }
  from {
    transform: rotate(360deg); } }
