html,
body {
  height: 100%;
  display: grid;
}

body {
  color: black;
  font: 20px "Open Sans", sans-serif; 
}

h1 {
  font-size: 50px; 
}

.container {
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
  color: black; 
}

a:hover, .tech-stack i:hover {
  color: #6f2c63; 
}

i.social {
  padding: 25px;
  font-size: 2em; 
}

p {
  padding: 25px; 
}
