/* http://blog.lunarlogic.io/2016/let-your-website-cast-the-northern-lights-auroral/ */
/* We start with setting the variables: how many stars there should be and an empty variable declaration for later */
/* Now we just style this one 1px by 1px div to be a round dot fixed in top left corner */
.stars {
  position: relative;
  top: 0;
  display: block;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: white;
  /* We count down from the number of stars that we chose to have: */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  /* Remember to count down. Otherwise you will end up with an infinite loop */
  /* And with each iteration we concatenate string with another box shadow declaration.
  We set random position for the box shadow and random size (from 1 to 2 px).
  The last thing to add is a comma, but we need to use and unquote function to add that */
  /* The last box shadow needs to be added without a comma.
   After we have the whole string ready, we add it to the box-shadow as a value */
  box-shadow: 098vw 38vh 0 2px rgba(255, 255, 255, 0.7), 66vw 58vh 0 1px rgba(255, 255, 255, 0.7), 14vw 38vh 0 1px rgba(255, 255, 255, 0.7), 71vw 36vh 0 2px rgba(255, 255, 255, 0.7), 86vw 39vh 0 1px rgba(255, 255, 255, 0.7), 68vw 29vh 0 2px rgba(255, 255, 255, 0.7), 93vw 7vh 0 2px rgba(255, 255, 255, 0.7), 26vw 34vh 0 1px rgba(255, 255, 255, 0.7), 55vw 66vh 0 1px rgba(255, 255, 255, 0.7), 62vw 19vh 0 2px rgba(255, 255, 255, 0.7), 83vw 43vh 0 1px rgba(255, 255, 255, 0.7), 66vw 89vh 0 1px rgba(255, 255, 255, 0.7), 27vw 18vh 0 1px rgba(255, 255, 255, 0.7), 67vw 11vh 0 2px rgba(255, 255, 255, 0.7), 53vw 7vh 0 1px rgba(255, 255, 255, 0.7), 49vw 83vh 0 2px rgba(255, 255, 255, 0.7), 15vw 46vh 0 2px rgba(255, 255, 255, 0.7), 58vw 39vh 0 2px rgba(255, 255, 255, 0.7), 34vw 19vh 0 2px rgba(255, 255, 255, 0.7), 91vw 86vh 0 2px rgba(255, 255, 255, 0.7), 3vw 23vh 0 2px rgba(255, 255, 255, 0.7), 44vw 80vh 0 2px rgba(255, 255, 255, 0.7), 46vw 74vh 0 1px rgba(255, 255, 255, 0.7), 54vw 61vh 0 1px rgba(255, 255, 255, 0.7), 72vw 2vh 0 1px rgba(255, 255, 255, 0.7), 79vw 9vh 0 2px rgba(255, 255, 255, 0.7), 60vw 32vh 0 2px rgba(255, 255, 255, 0.7), 78vw 49vh 0 1px rgba(255, 255, 255, 0.7), 89vw 57vh 0 1px rgba(255, 255, 255, 0.7), 75vw 17vh 0 2px rgba(255, 255, 255, 0.7), 79vw 91vh 0 1px rgba(255, 255, 255, 0.7), 9vw 39vh 0 2px rgba(255, 255, 255, 0.7), 77vw 22vh 0 1px rgba(255, 255, 255, 0.7), 91vw 13vh 0 1px rgba(255, 255, 255, 0.7), 7vw 37vh 0 2px rgba(255, 255, 255, 0.7), 77vw 45vh 0 1px rgba(255, 255, 255, 0.7), 50vw 63vh 0 2px rgba(255, 255, 255, 0.7), 23vw 68vh 0 1px rgba(255, 255, 255, 0.7), 39vw 19vh 0 1px rgba(255, 255, 255, 0.7), 31vw 23vh 0 2px rgba(255, 255, 255, 0.7), 8vw 71vh 0 2px rgba(255, 255, 255, 0.7), 25vw 71vh 0 1px rgba(255, 255, 255, 0.7), 16vw 90vh 0 2px rgba(255, 255, 255, 0.7), 62vw 29vh 0 1px rgba(255, 255, 255, 0.7), 35vw 34vh 0 2px rgba(255, 255, 255, 0.7), 16vw 48vh 0 2px rgba(255, 255, 255, 0.7), 9vw 24vh 0 1px rgba(255, 255, 255, 0.7), 4vw 57vh 0 2px rgba(255, 255, 255, 0.7), 9vw 60vh 0 1px rgba(255, 255, 255, 0.7), 94vw 83vh 0 1px rgba(255, 255, 255, 0.7), 55vw 55vh 0 1px rgba(255, 255, 255, 0.7), 48vw 24vh 0 2px rgba(255, 255, 255, 0.7), 69vw 43vh 0 2px rgba(255, 255, 255, 0.7), 96vw 25vh 0 2px rgba(255, 255, 255, 0.7), 17vw 20vh 0 0 rgba(255, 255, 255, 0.9);
  /* Remember to count down. Otherwise you will end up with an infinite loop */ }

/*# sourceMappingURL=stars.css.map */
